<form>
    <div class="wrapper">
        <div class="start-login-wrapper">
            <label class="label">Название пароля</label>
            <input type="text" />
        </div>
        <div class="start-login-wrapper">
            <label class="label">Пароль</label>
            <input type="password" />
        </div>
        <button class="label" type="submit">Отправить</button>
    </div> 
</form>
