.wrapper{
    margin: 200px auto;
    width: 30%;
    padding: 16px;
    text-align: center;
}
.start-login-wrapper{
    display: flex;
    flex-direction: column;
}
.label{
    margin: 16px;
}

input:focus {
    outline: none;
  }